.homescreen {
    max-width: 1300px;
    margin: 1rem auto;
}

.homescreen__news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.homescreen__title {
    font-size: 1.5rem;
    color: var(--black);
    margin-bottom: 1rem;
    margin-left: 8px;
    margin-top: 1rem;
}


/* Responsable */

@media (max-width: 1230px) {
    .homescreen__title {
        font-size: 1.2rem;
    }
    .homescreen__news {
        grid-template-columns: 2fr 1fr 2fr;
    }
}

@media (max-width: 930px) {
    .homescreen__news {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 620px) {
    .homescreen__news {
        grid-template-columns: repeat(1, 1fr);
    }
}