@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root {
    --black: #171717;
    --offwhite: #f4f4f4;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: var(--offwhite);
    animation: fade 2s linear;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}